{% extends 'layouts/main.html' %}
{% block title %}Fyyur | Shows{% endblock %}
{% block content %}
<div class="row shows">
    {%for show in shows %}
    <div class="col-sm-4">
        <div class="tile tile-show">
            <img src="{{ images[show.id] }}" alt="Artist Image" />
            <h4>{{ show_dates[show.id] }}</h4>
            <h5>{{names[show.id]}}</h5>
            <p>playing at</p>
            <h5>{{venue[show.id]}}</a></h5>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}